@page "/orm"
@inject UserDataService UserData

<PageTitle>One Rep Max</PageTitle>

<h1>One Rep Max Estimator</h1>
<table>
    <tr>
        <td>Weight (lbs): </td><td><InputNumber id="weight" @bind-Value="weight"></InputNumber></td> <br/>
    </tr><br/>
    <tr>
        <td>Reps: </td><td><InputNumber id="reps" @bind-Value="reps"></InputNumber></td> <br/>
    </tr><br/>
    <tr>
        <td><button class="btn btn-primary" @onclick="Calculate">Calculate</button><br/><br/></td>
    </tr>
</table>


<p role="status">Estimated 1 Rep Max: @max</p>

@code {
    private double? weight = null;
    private double? reps = null;
    private double? max;

    protected override void OnInitialized(){
    }



    private void Calculate()
    {
        if (weight != null)
        {
            max = weight * (1 + (reps / 30));
        }
    }
}
