@page "/treadmill"
@inject UserDataService UserData

<PageTitle>Treadmill</PageTitle>

<h1>Treadmill Calories Burned</h1>
<table>
    <tr>
        <td>Speed (mph): </td><td><InputNumber id="speed" @bind-Value="speed"></InputNumber></td> <br/>
    </tr><br/>
    <tr>
        <td>Time (min): </td><td><InputNumber id="time" @bind-Value="time"></InputNumber></td> <br/>
    </tr><br/>
    <tr>
        <td><button class="btn btn-primary" @onclick="Calculate">Calculate</button><br/><br/></td>
    </tr>
</table>


<p role="status">Calories: @calories</p>

@code {
    private int currentCount = 0;
    private int? calories = null;
    private int? speed = null;
    private int? time = null;
    private double? weight;
    private double coefficient = .1;

    protected override void OnInitialized(){
    }



    private void Calculate()
    {
        if (UserData.Weight != null)
        {
            weight = UserData.Weight;
            calories = speed * time;
            currentCount++;

            if (speed > 4)
            {
                coefficient = .2;
            }
            calories = Convert.ToInt32(((((coefficient * (speed * 26.8)) + 3.5) * (weight / 2.2) / 200) * time));
        }
    }
}
